.bg-custom-light {
  background-color: #d5e1ef;
}

.image-wrapper {
  overflow: hidden;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.image-wrapper:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.1); /* subtle dark overlay */
}